.accents__introduction,
.accents__upload {
    padding: rem-calc(20px) rem-calc(20px) rem-calc(20px) rem-calc(40px);
}

.accents__upload {
    @include clearfix;
}

.accents__upload-nav {
    width: 25%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1300px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.accents__upload-area {
    width: 75%;
    padding: 0 rem-calc(20px) 0 rem-calc(80px);

    @media (max-width: 1300px) {
        padding-top: rem-calc(20px);
    }
}

.accents__upload-nav,
.accents__upload-area {
    float: left;

    @media (max-width: 1300px) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.accents__upload-button {
    background-color: $light-grey;
    color: $grey;
    border: $common__border;
    text-transform: uppercase;
    padding: rem-calc(15px) rem-calc(10px) rem-calc(15px) rem-calc(30px);
    cursor: pointer;
    margin-bottom: rem-calc(10px);
    width: 100%;
    position: relative;
    height: rem-calc(60px);
    text-align: left;
    transition: background-color .3s, color .3s;

    &::before {
        @include css-triangle(30px, $grey, right);
        position: absolute;
        top: rem-calc(-1px);
        right: rem-calc(-31px);
    }

    &::after {
        @include css-triangle(30px, $light-grey, right);
        position: absolute;
        top: rem-calc(-1px);
        right: rem-calc(-30px);
        transition: border-color .3s;
    }

    @media (max-width: 1300px) {
        display: inline-block;
        padding-left: rem-calc(25px);
        padding-right: rem-calc(25px);
        text-align: center;
        margin: 0 rem-calc(10px);

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &::before,
        &::after {
            display: none;
        }
    }
}

.accents__upload-button:hover,
.accents__upload-button.active {
    background-color: $blue;
    color: $white;

    &::after {
        border-left-color: $blue;
    }
}

.accents__upload-button.active {
    cursor: auto;
}

.accents__upload-area-title {
    color: $grey;
    font-size: rem-calc(18px);
    font-weight: normal;
    text-transform: uppercase;
}

.accents__upload-area-drop {
    background-color: $lightest-grey;
    border: $common__border-dashed;
    border-radius: rem-calc(5px);
    padding: rem-calc(40px) 0;
    margin: rem-calc(20px) 0;
    position: relative;
    text-align: center;
    cursor: pointer;

    p {
        width: 100%;
        padding-left: rem-calc(40px);
        padding-right: rem-calc(40px);
        color: $grey;

        .fa {
            padding-top: rem-calc(10px);
            display: block;
            font-size: rem-calc(120px);
            color: $light-grey;
        }
    }
}

.accents__upload-area-button {
    border: $common__border;
    padding: rem-calc(20px) rem-calc(25px);
    border-radius: rem-calc(5px);
    color: $grey;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to bottom, $white 0%, $light-grey 1%, #bbb 100%);
    text-shadow: 0 1px 0 $white;

    &:hover {
        background: linear-gradient(to bottom, $white 0%, $lightest-grey 1%, $light-grey 100%);
    }
}