.accents {
    background-color: #f7f7f7;
}

.accents__introduction,
.accents__upload {
    padding: 20px 20px 20px 40px;
}

.accents__introduction {
    color: #a3a3a3;
    padding-top: 40px;
}

.accents__introduction-title,
.accents__upload-area-title {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.accents__introduction-title {
    line-height: 2;

    .fa {
        font-size: 40px;
        padding-right: 5px;
        position: relative;
        top: 5px;
    }
}

.accents__upload {
    @include clearfix;
}

.accents__upload-nav {
    width: 25%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1300px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.accents__upload-area {
    width: 75%;
    padding: 0 20px 0 80px;

    @media (max-width: 1300px) {
        padding-top: 20px;
    }
}

.accents__upload-nav,
.accents__upload-area {
    float: left;

    @media (max-width: 1300px) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.accents__upload-button {
    background-color: #d7d7d7;
    color: #656565;
    border: solid 1px #656565;
    // border-right: 0;
    text-transform: uppercase;
    padding: 15px 10px 15px 30px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    height: 60px;
    text-align: left;
    transition: background-color .3s, color .3s;

    &::before {
        @include css-triangle(30px, #656565, right);
        position: absolute;
        top: -1px;
        right: -31px;
    }

    &::after {
        @include css-triangle(30px, #d7d7d7, right);
        position: absolute;
        top: -1px;
        right: -30px;
        transition: border-color .3s;
    }

    @media (max-width: 1300px) {
        display: inline-block;
        // width: auto;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        margin: 0 10px;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &::before,
        &::after {
            display: none;
        }
    }
}

.accents__upload-button:hover,
.accents__upload-button-active {
    background-color: #195daf;
    color: #fff;

    &::after {
        border-left-color: #195daf;
    }
}

.accents__upload-button-active {
    cursor: auto;
}

.accents__upload-area-title {
    color: #a3a3a3;
}

.accents__upload-area-drop {
    background-color: #ebebeb;
    border: dashed 1px #656565;
    border-radius: 5px;
    padding: 40px 0;
    margin: 20px 0;
    position: relative;
    text-align: center;
    cursor: pointer;

    p {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        color: #a3a3a3;

        .fa {
            padding-top: 10px;
            display: block;
            font-size: 120px;
            color: #d7d7d7;
        }
    }
}

.accents__upload-area-button {
    border: solid 1px #656565;
    padding: 20px 25px;
    border-radius: 5px;
    color: #656565;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to bottom, #fff 0%, #d7d7d7 1%, #b5b5b5 100%);
    text-shadow: 0 1px 0 #fff;

    &:hover {
        background: linear-gradient(to bottom, #fff 0%, #eee 1%, #ccc 100%);
    }
}