@mixin common__shadow {
  -webkit-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
}

@mixin common__blue-gradient {
  background: rgba(71,104,134,1);
  background: -moz-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,104,134,1)), color-stop(100%, rgba(37,60,85,1)));
  background: -webkit-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: linear-gradient(135deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476886', endColorstr='#253c55', GradientType=1 );
}

.common__header {
  border-bottom: solid 1px #666;
  @include common__shadow;
}
.common__header-content {
  border-bottom: solid 1px #666;
  padding: .5em 2em;
}
.common__header-logo {
  display:inline-block;
  cursor:pointer;
}
.common__user {
  margin-right: 2em;
  margin-top: 1em;
}
.common__user-name {
  position: relative;
  top: .1em;
  margin-right: 1em;
}
.common__footer {
  color: #666;
  background-color: #CCC;
  text-align: center;
  padding: 1em;
  text-transform:uppercase;
  font-size: .75em;
}
.common__navigation {
  background-color: #CCC;
  text-transform: uppercase;
}
.common__navigation-btn {
  display: inline-block;
  padding: .75em 2em;
  background-color: #FFF;
  color: #AAA;
  cursor: pointer;
  font-weight: bold;
  border-right: solid 1px #666;

  i {
    margin-right: .75em;
    font-size: 1.5em;
  }
}
.common__navigation-btn:hover {
  /*@include common__blue-gradient;*/
  background-color: #476987;
  color: #FFF;
}
.common__navigation-selected {
  @include common__blue-gradient;
  color: #FFF;
}
.common__sidebar {
  border-left: dotted 1px #CCC;
  float:right;
  width: 300px;
  background-color: #FFF;
}