@mixin common__shadow {
  -webkit-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
}

@mixin common__blue-gradient {
  background: rgba(71,104,134,1);
  background: -moz-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,104,134,1)), color-stop(100%, rgba(37,60,85,1)));
  background: -webkit-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: linear-gradient(135deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476886', endColorstr='#253c55', GradientType=1 );
}

.common__header {
  border-bottom: solid 1px #666;
  position: relative;
  @include common__shadow;
}
.common__header-content {
  border-bottom: solid 1px #666;
  padding: .5em 2em;
}
.common__header-logo {
  display:inline-block;
  cursor:pointer;
}
.common__user {
  margin-right: 2em;
  margin-top: 1em;
}
.common__user-name {
  position: relative;
  top: .1em;
  margin-right: 1em;
}
.common__footer {
  color: #666;
  background-color: #CCC;
  text-align: center;
  padding: 1em;
  text-transform:uppercase;
  font-size: .75em;
}
.common__navigation {
  background-color: #CCC;
  text-transform: uppercase;
}
.common__navigation-btn {
  display: block;
  float: left;
  padding: .75em 2em;
  background-color: #FFF;
  color: #AAA;
  cursor: pointer;
  font-weight: bold;
  border-right: solid 1px #666;

  i {
    margin-right: .75em;
    font-size: 1.5em;
  }
}
.common__navigation-btn:hover {
  /*@include common__blue-gradient;*/
  background-color: #476987;
  color: #FFF;
}
.common__navigation-selected {
  @include common__blue-gradient;
  color: #FFF;
}
.common__sidebar {
  border-left: dotted 1px #CCC;
  float: right;
  max-width: 415px;
  min-width: 300px;
  background-color: #FFF;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;

  @media (max-width: 1024px) {
    min-width: 0;
    max-width: none;
    height: auto;
    overflow: visible;
  }
}
.common__sidebar-heading,
.common__sidebar-subheading {
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}
.common__sidebar-heading {
  padding: 21px 25px;
  border-bottom: 1px solid #737373;
  .fa {
    font-size: 20px;
    color: #737373;
    margin-right: 10px;
  }
}
.common__sidebar-subheading {
  background-color: #CCC;
  border-bottom: 1px solid #737373;
  padding: 10px 20px;
  position: relative;
}
.common__sidebar-count {
  margin-right: 10px;
  display: inline-block;
  border-radius: (46px / 2);
  width: 46px;
  height: 46px;
  background-color: #737373;
  border: 1px solid #FFF;
  line-height: 44px;
  text-align: center;
  color: #FFF;
}
.common__sidebar-count-active {
  background-color: #195daf;
}
.common__sidebar-arrow {
  color: #737373;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);

  &.fa {
    font-size: 24px;
  }
}
.common__sidebar-list {
  visibility: hidden;
  height: 0;
  list-style: none;
  margin: 0;
}
.common__sidebar-list-active {
  border-bottom: 1px solid #737373;
  visibility: visible;
  height: auto;
  padding: 20px;
}
.common__sidebar-listitem {
  color: #737373;

  .fa {
    margin-right: 10px;
    color: #195daf;
  }
}
.common__button {
  color: #FFF;
  background-color: #195daf;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 30px 20px;
  transition: background-color .3s;

  .fa {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 5px;
  }

  &:hover {
    background-color: lighten(#195daf, 10%);
  }
}