@mixin common__shadow {
  -webkit-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.3);
}

@mixin common__blue-gradient {
  background: rgba(71,104,134,1);
  background: -moz-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,104,134,1)), color-stop(100%, rgba(37,60,85,1)));
  background: -webkit-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  background: linear-gradient(135deg, rgba(71,104,134,1) 0%, rgba(37,60,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476886', endColorstr='#253c55', GradientType=1 );
}

.common__header {
  border-bottom: $common__border;
  position: relative;
  position: relative;
  z-index: 2;
  @include common__shadow;
}
.common__header-content {
  border-bottom: $common__border;
  padding: .5em 2em;
}
.common__header-logo {
  display:inline-block;
  cursor:pointer;
}
.common__user {
  margin-right: 2em;
  margin-top: 1em;
}
.common__user-name {
  position: relative;
  top: .1em;
  margin-right: 1em;
}
.common__footer {
  color: $grey;
  background-color: $light-grey;
  text-align: center;
  padding: 1em;
  text-transform:uppercase;
  font-size: .75em;
}
.common__navigation {
  background-color: $light-grey;
  text-transform: uppercase;
  display: flex;
}
.common__navigation-btn {
  // display: block;
  // float: left;
  padding: .75em 2em;
  background-color: $white;
  color: #AAA;
  cursor: pointer;
  font-weight: bold;
  border-right: $common__border;

  i {
    margin-right: .75em;
    font-size: 1.5em;
  }
}
.common__navigation-btn:hover {
  /*@include common__blue-gradient;*/
  background-color: $blue-grey;
  color: $white;
}
.common__navigation-selected {
  @include common__blue-gradient;
  color: $white;
}
.common__sidebar {
  border-left: dotted 1px $light-grey;
  float: right;
  max-width: rem-calc(415px);
  background-color: $white;
  padding: 0;
  // max-height: 100vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  @media (max-width: 1024px) {
    min-width: 0;
    max-width: none;
    height: auto;
    overflow: visible;
  }
  .filelist-active {
    border-bottom: 1px solid $darker-grey;
  }
}
.common__sidebar-heading,
.common__sidebar-subheading {
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  font-size: rem-calc(18px);
  color: $grey;
}
.common__sidebar-heading {
  padding: rem-calc(21px) rem-calc(25px);
  border-bottom: 1px solid $darker-grey;
  .fa {
    font-size: rem-calc(20px);
    color: $darker-grey;
    margin-right: rem-calc(10px);
  }
}
.common__sidebar-subheading {
  background-color: $light-grey;
  border-bottom: $common__border;
  padding: rem-calc(10px) rem-calc(20px);
  position: relative;
}
.common__sidebar-count {
  margin-right: rem-calc(10px);
  display: inline-block;
  border-radius: (46px / 2);
  width: rem-calc(46px);
  height: rem-calc(46px);
  background-color: $darker-grey;
  border: 1px solid $white;
  line-height: rem-calc(44px);
  text-align: center;
  color: $white;
}
.common__sidebar-count-active {
  background-color: $blue;
}
.common__sidebar-arrow {
  color: $darker-grey;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);

  &.fa {
    font-size: rem-calc(24px);
  }
}
.common__button {
  color: $white;
  background-color: $blue;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 50px 20px;
  transition: background-color .3s;
  font-weight: 900;
  @include common__shadow;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}
.common__button-icon {
  padding: 15px 50px 30px;

  .fa {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
}
.common__title {
  color: $grey;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 2;

  .fa {
    font-size: 40px;
    padding-right: 5px;
    position: relative;
    top: 5px;
  }
}
.common__description {
  color: $grey;
}
.filelist {
  visibility: hidden;
  height: 0;
  list-style: none;
  margin: 0;
}
.filelist-active {
  visibility: visible;
  height: auto;
  padding: 10px 20px;
}
.filelist__item {
  color: $darker-grey;

  .md-checkbox {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.common__content-holder {
  background-color: $off-white;
}