.designer {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
}

.designer__configurator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #ECECEC;
}

.designer__configurator-product {
    position: relative;
    flex-grow: 2;
    @include common__shadow;
}

.designer__caption {
    color: $darker-grey;
    font-size: rem-calc(12px);
}

.designer__inputs {
    padding: rem-calc(10px) rem-calc(20px);
    max-width: none;
}

.md-theme-default.md-button-toggle.md-primary .md-toggle,
.md-theme-default.md-button-toggle.md-primary .md-toggle:hover:not([disabled]) {
    color: #2196f3 !important;
    background-color: transparent !important;
}

.md-input-container label {
    font-size: rem-calc(13px) !important;
}

.md-theme-default.md-button-toggle {
    max-width: 70% !important;

    .md-button {
        padding-left: rem-calc(10px) !important;
        padding-right: rem-calc(10px) !important;
        min-width: auto !important;
    }
}

.designer__inputs-holder {
    padding: rem-calc(10px) 0;
}

.designer__inputs-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.designer__inputs-caption {
    font-size: rem-calc(13px);
    color: $darker-grey;
}

[type="range"] {
    display: block;
    width: 70%;
    margin: auto;
}

.md-input-container {
    width: 45% !important;
    margin-bottom: 0 !important;
    min-height: rem-calc(30px) !important;
    padding-top: rem-calc(10px) !important;
}

.designer__inputs-wrapper {
    padding: rem-calc(10px) 0;

    hr {
        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
        margin: rem-calc(20px) 0 0;
    }
}

.designer__inputs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.designer__inputs-title {
    color: $darker-grey;
    font-size: 1rem;
    margin-bottom: 0;
}

.designer__product {
    padding: 40px 0 60px;
}

.designer__product-img {
    @include common__shadow;
}

.designer__fields {
    background-color: #83a4c7;
    color: $white;
    width: 100%;
    flex-grow: 1;
    padding: 40px;
}

.designer__fields-heading {
    font-size: rem-calc(26px);
    text-transform: uppercase;
    padding: 0;
}

.designer__fields-list {
    list-style: none;
    margin-left: 0;
}

.designer__fields-item {
    font-size: rem-calc(18px);

    .fa {
        margin-right: 10px;
    }
}