.inpage-sorting {
    display: flex;
}

.inpage-sorting__button {
    font-size: 14px;
    color: $color-darkgrey;
    padding: 15px 0;
    font-weight: 600;
    background-color: $color-lightgrey;
    transition: color .3s;
    display: block;
    position: relative;
    text-transform: uppercase;
    outline: 0;

    &::after {
        @include css-triangle(10px, $color-lightgrey, down);
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, 0);
        display: none;
    }

    &:last-child .inpage-sorting__label {
        border-right: 0;
    }

    &:hover {
        color: $color-blue;
    }
}

.inpage-sorting__label {
    border-right: 1px solid $color-grey;
    display: block;
    padding: 5px 50px;
}

.inpage-sorting__button-selected {
    color: $color-brightblue;

    &::after {
        display: block;
    }
}

.inpage-steps {
    display: flex;
    border: 1px solid $color-lime;
}

.inpage-steps__button {
    font-size: 14px;
    background-color: #9dcb66;
    color: $color-white;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    line-height: 1;
    outline: 0;
}

.inpage-steps__button-selected {
    background-color: $color-lime;
}

.inpage-steps__number {
    border-radius: 15px;
    font-size: 120%;
    display: inline-block;
    border: 1px solid $color-white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}
