.publisher {
    background-color: #f7f7f7;
}

.publisher__button {
    position: relative;
    display: inline-block;
}

.publisher__button-count {
    color: #FFF;
    background-color: #81a3c9;
    border: 1px solid #FFF;
    text-align: center;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    @include common__shadow;
}

.publisher__introduction {
    @include clearfix;
    margin: 0 40px 15px;
    padding: 20px 0;
    border-bottom: 1px dashed #a3a3a3;
    color: #a3a3a3;

    .publisher__button {
        float: right;
        margin-top: 25px;
    }

    .publisher__button-count {
        background-color: #d0011b;
    }
}

.publisher__introduction-content,
.publisher__introduction-button {
    float: left;
}

.publisher__introduction-content {
    width: 75%;
}

.publisher__introduction-button {
    width: 25%;
}

.publisher__upload {
    padding: 20px 40px;
}

.publisher__box {
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background-color: #c8c8c8;
    color: #999;
    padding: 20px;
    margin-bottom: 20px;

    .publisher__button {
        display: none;
    }

    .filelist__item {
        margin-top: 0;
        width: (100% / 3);
        float: left;
    }
}

.publisher__box-title {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.publisher__box-header {
    padding: 0;
    margin: 0;
}

.publisher__upload-status {
    margin: 0;
    padding: 6px 0 0;
}

.publisher__box-active {
    background-color: #fff;
    padding-top: 20px;

    .publisher__box-title {
        padding-top: 10px;
    }

    .publisher__button {
        display: inline-block;
        float: right;
    }

    .publisher__box-header {
        border-bottom: 1px dashed #a3a3a3;
        padding: 0 0 20px;
    }
}