$black: #000;
$darker-grey: #737373;
$grey: #666;
$light-grey: #CCC;
$lightest-grey: #EEE;
$off-white: #F7F7F7;
$white: #FFF;
$blue-grey: #476987;
$blue: #195DAF;
$light-blue: #81a3c9;
$red: #d0011b;

$common__border: 1px solid $grey;
$common__border-dashed: 1px dashed $grey