.carousel-pagination__buttons {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.carousel-pagination__item {
    margin: 2px;
}

.carousel-pagination__button {
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid $color-grey;
    background-color: $color-white;
    transition: background-color .3s;

    &:hover {
        background-color: $color-offwhite;
    }
}

.carousel-pagination__button-active {
    background-color: $color-brightblue;
    border-color: $color-lightestgrey;
}
