.pagination__items {
    display: flex;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: block;
    padding: 0;
    line-height: 1;
    color: $color-grey;
    margin-right: 5px;

    &:last-of-type {
        margin-right: 0;
    }

    a,
    span {
        font-size: 16px;
        border: 1px solid $color-lightestgrey;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 39px;
        color: inherit;
        display: block;
        transition: background-color .3s, color .3s, border-color .3s;
    }

    a:hover {
        background-color: $color-lightestgrey;
    }
}

.pagination__item-arrow a {
    line-height: 37px;
}

.pagination__item-ellipses span {
    border-color: transparent;
    background-color: transparent;
    line-height: 27px;
    width: auto;
    font-size: 24px;
    color: #d8e0e3;
}

.pagination__item-active a {
    background-color: $color-brightblue;
    border-color: $color-brightblue;
    color: $color-white;

    &:hover {
        border-color: $color-brightblue;
        background-color: $color-brightblue;
    }
}
