@mixin select-input() {
  .form__select-wrapper {
    position: relative;
    width: 300px;

    &::after {
      content: '\0221F';
      font-size: 16px;
      font-weight: 300;
      position: absolute;
      top: 45%;
      right: 10px;
      transform: rotate(-45deg);
      line-height: 0;
      pointer-events: none;
      transition: transform .2s;
    }
  }

  .form__select-wrapper-active {
    &::after {
      top: 46%;
      transform: rotate(135deg);
    }

    .form__select {
      opacity: 1;
      transition: opacity .2s ease-in;
      visibility: visible;
    }
  }

  .form__select {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 97%;
    max-height: 200px;
    opacity: 0;
    visibility: collapse;
    overflow: scroll-y;
    background-color: transparent;
    margin-top: 1px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 2px rgba($color-black, .2);
    transition: max-height .2s cubic-bezier(0, 1.05, 0, 1);
  }

  .form__select-wrapper option {
    padding: 11px 0 10px 10px;
    cursor: pointer;
    border: 1px solid $color-lightgrey;
    border-top: 0;
    height: 40px;
    background-color: $color-white;

    &:last-child {
      border-bottom-width: 1px;
    }

    &:hover {
      color: $color-blue;
    }
  }

  .form__select-wrapper input {
      line-height: 1;
      padding: 10px;
      border: 1px solid $color-lightgrey;
      border-radius: 0;
      color: $color-black;
      outline: 0;
      display: block;
      background-color: $color-white;
      width: 100%;
  }
}

@mixin switch-input($height: 30px) {
  $switchTransition: .15s ease-out;
  $height: $height;

  .switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $height * 2.5;
    height: $height;
    padding: 3px;
    margin: 5px;
    background-color: transparent;
    border-radius: ($height / 2);
    cursor: pointer;
  }

  .switch__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .switch__label {
    position: relative;
    display: block;
    height: inherit;
    font-size: ($height / 2);
    text-transform: uppercase;
    background: transparent;
    border-radius: inherit;
    font-weight: 600;
    transition: opacity $switchTransition, background $switchTransition;
    border: 2px solid $color-grey;

    &:before, &:after {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      line-height: 1;
      transition: inherit;
    }

    &:before {
      content: attr(data-off);
      right: 11px;
      color: $color-grey;
    }

    &:after {
      content: attr(data-on);
      left: 8px;
      color: $color-brightblue;
      opacity: 0;
    }

    .switch__input:checked ~ & {
      background: transparent;

      &:before { opacity: 0; }
      &:after { opacity: 1; }
    }
  }

  .switch__handle {
    position: absolute;
    top: -12px;
    left: -15px;
    width: $height * 1.2;
    height: $height * 1.2;
    background: transparent;
    border-radius: (($height * 1.2) / 2);
    transition: left #{$switchTransition};

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      width: $height * 1.2;
      height: $height * 1.2;
      border: 1px solid $color-darkgrey;
      background: $color-white;
      border-radius: (($height * 1.2) / 2);
    }

    .switch__input:checked ~ & {
      left: 35px;
    }
  }
}

@mixin checkbox() {

  .control {
    // font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
    color: $color-darkgrey;
    padding-top: 2px;
    font-size: 14px;
  }

  .control__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    top: 0;
  }

  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid $color-lightgrey;
  }

  /* Hover and focus states */
  .control:hover .control__input ~ .control__indicator,
  .control__input:focus ~ .control__indicator {
    border: 1px solid $color-lightgrey;
    background: transparent;
  }

  /* Checked state */
  .control__input:checked ~ .control__indicator {
    background: $color-brightblue;
    border-color: $color-brightblue;
  }

  /* Hover state whilst checked */
  .control:hover .control__input:not([disabled]):checked ~ .control__indicator,
  .control__input:checked:focus ~ .control__indicator {
    background: $color-brightblue;
    border-color: $color-brightblue;
  }

  /* Disabled state */
  .control__input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
  }

  /* Check mark */
  .control__indicator:after {
    position: absolute;
    display: none;
    content: '';
  }

  /* Show check mark */
  .control__input:checked ~ .control__indicator:after {
    display: block;
  }

  /* Checkbox tick */
  .control__checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }

  /* Disabled tick colour */
  .control__checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }

  .input__feedback-error {
    color: $color-error;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
}