body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
input
textarea {
    font-family: $font-family;
}

h1,
.h1,
h4,
.h4,
.heading__product,
.heading__section,
.semibold {
    font-weight: 700;
}

h2,
.h2,
.medium {
    font-weight: 600;
}

h3,
.h3,
p,
li,
.copy__body,
.copy__legal {
    font-weight: 500;
}

h1,
.h1,
.heading__section {
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: rem-calc(30);
}

h2,
.h2 {
    font-size: rem-calc(26);
}

h3,
.h3 {
    font-size: rem-calc(20);
}

h4,
.h4 {
    font-size: rem-calc(18);
}

.heading__product,
.heading__section,p,
li,
.copy__body {
    font-size: rem-calc(14);
}

.copy__legal {
    font-size: rem-calc(13);
}

.italic {
    font-style: italic;
}
